---

- name: APT Update
  command: apt-get -c {{ apt_conf }} update

- name: Get current MU
  script: files/get_current_mu.sh
  environment:
    APT_CONF: "{{ apt_conf }}"
    APT_SRC_DIR: "{{ apt_src_dir }}"
  register: current_mu

- name: Show current MU
  debug:
    msg: "{{ current_mu.stdout_lines }}"

